<footer id="footer">
    <div class="footer-container">
        <div class="footer-section logo-and-slogan">
            <img src="css-code/imagenes/Kabu.logo.png" alt="Logo de Baku" class="footer-logo-img">
            <p>Conectando Nicaragua, un viaje a la vez.</p>
        </div>  
        <div class="footer-section navigation-links">
            <h4>Navegación</h4>
            <ul>
                <li><a href="#about-baku">Acerca de Baku</a></li>
                <li><a href="terminales.html">Terminales</a></li>
                <li><a href="horarios.html">Horarios</a></li>
            </ul>
        </div>
        <div class="footer-section contact-info">
            <p>Email: contacto@baku.com</p>
            <div class="social-media">
                <a href="https://www.facebook.com/nicabuses" target="_blank">
                    <img src="css-code/imagenes/iconos/facebook.png" alt="Facebook">
                </a>
                <a href="https://www.instagram.com/nicabuses" target="_blank">
                    <img src="css-code/imagenes/iconos/instagram.png" alt="Instagram">
                </a>
                <a href="https://github.com/nicabuses" target="_blank">
                    <img src="css-code/imagenes/iconos/github.png" alt="GitHub">
                </a>
            </div>
        </div>
    </div>
</footer>