<footer class="footer-section">
    <div class="footer-column logo-section">
        <h1 class="footer-logo">Baku Nicaragua</h1>
        <p class="footer-slogan">Descubre Nicaragua de manera auténtica: una guía de transporte público para cada aventura.</p>
        <div class="footer-social-icons">
            <img src="css-code/imagenes/iconos/camera.png" alt="Facebook" class="social-icon">
            <img src="css-code/imagenes/iconos/social.png" alt="Twitter" class="social-icon">
            <img src="css-code/imagenes/iconos/github.png" alt="Instagram" class="social-icon">
        </div>
    </div>
    <div class="footer-column">
        <h2>Páginas</h2>
        <ul class="footer-list">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Acerca</a></li>
            <li><a href="#">Horarios de buses</a></li>
            <li><a href="#">Terminales de buses</a></li>
            <li><a href="#">Agregar horario</a></li>
            <li><a href="#">Calificar horario</a></li>
        </ul>
    </div>
    <div class="footer-column">
        <h2>Guía de Viaje</h2>
        <ul class="footer-list">
            <li><a href="#">Tours</a></li>
            <li><a href="#">Surf</a></li>
            <li><a href="#">Hiking</a></li>
            <li><a href="#">Restaurantes</a></li>
            <li><a href="#">Plan familiar</a></li>
        </ul>
    </div>
    <div class="footer-column">
        <h2>Newsletter</h2>
        <p class="newsletter-paragraph">Descubre Nicaragua de manera auténtica: una guía de transporte público para cada aventura.</p>
        <input type="email" placeholder="Tu correo electrónico" class="newsletter-input">
        <button class="newsletter-btn">Suscribirse</button>
    </div>
</footer>
