<header class="header">
    <div class="logo-container">
        <a href="/">
            <img class="logo-nicabuses" src="css-code/imagenes/Kabu.logo.png" alt="Logo NicaBuses">
        </a>
    </div>    
    <nav class="menu-navegacion">
        <a href="/sobreBaku"><img src="css-code/imagenes/iconos/homepageIcon.png" alt="Inicio Icon" class="nav-icon">Nosotros</a>
        <a href="index.html"><img src="css-code/imagenes/iconos/terminales-menu.png" alt="Terminales Icon"  class="nav-icon">Terminales</a>
        <a href="contact.html"><img src="css-code/imagenes/iconos/llamar.png" alt="Horario Icon" class="nav-icon">Contacto</a>
    </nav>
</header>
