<link rel="stylesheet" href="css-code/navbar.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">


<header id="navbar">
    <div class="navbar">
        <div class="logo">BAKU</div>
        <!-- Icono del menú (solo visible en móviles) -->
        <button class="menu-toggle" aria-label="Abrir menú">
            ☰
        </button>
        <!-- Lista de elementos del menú -->
        <nav class="menu">
            <a href="#nosotros">Nosotros</a>
            <a href="#ciudades">Ciudades</a>
            <a href="#contacto">Contacto</a>
            <a href="#terminales">Terminales</a>
        </nav>
    </div>
</header>
<script src="js/navbar.js"></script>
