.body {
    font-family: 'Roboto';
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1{
    font-family: "Source Sans Pro", sans-serif;  /* Aplicar la tipografía */
    color: rgb(65, 105, 94); 
    letter-spacing: 1px;  
    text-align: center; 
}

.form-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 16px;
}

label {
    margin-bottom: 8px;
    font-size: 18px;    
    font-weight: 100; 
    color: #333;
    font-weight: 100;

}
input[type="text"],
input[type="time"],
input[type="number"],
button {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Roboto';
    font-size: 1em;
    box-sizing: border-box; /* Para incluir el padding en el ancho total */
}

button {
    background-color: #548578;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 14px 18px;
    letter-spacing: 1px;
    margin: 10px 0 0 10px;
    font-family: 'Source Sans Pro', sans-serif;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
    background-color: #ff6f61;
}