.homepage-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh; 
    margin: 0;
    padding: 0;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}
.homepage-title {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-family: 'Spectra', sans-serif;
    font-size: 55px;
    letter-spacing: 2px;
    color: white; 
}
.homepage-title span {
    color: #EFD284; 
}
.homepage-links {
    position: absolute;
    top: 65%; 
    z-index: 3;
    text-align: center;
    display: flex;
    gap: 20px; 
}

.homepage-links .link {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-decoration: none; 
    transition: color 0.3s ease;
}

.homepage-links .link.blanco {
    color: #EFD284; 
}

.homepage-links .link.amarillo {
    color: white; 
}

.homepage-links .link.amarillo:hover {
    color: #EFD284;
}
.section-principal {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 100px;
}

.left-section {
    width: 35%;
    padding-right: 70px; 
    margin-left: 50px; 
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    align-items: center; 
}

.subtitulo, .titulo, .descripcion {
    width: 100%; 
    text-align: left; 
}

.subtitulo {
    font-family: "Source Sans Pro", sans-serif;   
    color: rgb(65, 105, 94);
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.titulo {
    font-family: 'Poppins, sans-serif';
    font-weight: 400;
    color: #313131;
    font-size: 34px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.descripcion {
    font-family: "Source Sans Pro", sans-serif;    
    color: rgb(110, 110, 110);
    line-height: 2.0;
}

.right-section {
    width: 80%;
    position: relative;
}

.imagen-san-juan {
    width: 55%; 
    height: 100%; 
    object-fit: cover;
}
html {
    scroll-behavior: smooth; /* Desplazamiento suave */
}

#titulo-sailing-left {
    scroll-margin-top: 100px; /* Ajusta el margen superior */
}
#titulo-surf {
    scroll-margin-top: 100px; /* Ajusta el desplazamiento para que no quede oculto debajo de la barra de navegación */
}



.rectangulo {
    position: absolute;
    top: 130px; 
    left: 520px;
    width: 45%; 
    height: 80%; 
    background-color: #41695d;
    padding-top: 20px;
    padding-bottom: 20px;
}

.icono-contenedor {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    justify-content: space-evenly;
    padding-left: 20px; 
    height: 100%; 
}

.icono-item {
    display: flex;
    align-items: flex-start; 
    padding-left: 20px;
    padding-right: 20px;
}

.icono-img {
    width: 50px; 
    height: 50px; 
    margin-right: 15px; 
}

.icono-texto {
    display: flex;
    flex-direction: column; 
}

.icono-titulo {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-size: 24px;
    color: #F2F2F2; 
    margin: 0;
}

.icono-descripcion {
    font-size: 16px;
    color: #C6C6C6; 
    margin-top: 10px; 
    line-height: 1.5;
}
.wave-container {
    position: relative;
    width: 100%;
    line-height: 0; /* Elimina espacios verticales */
    margin: 0; /* Asegura que no haya márgenes adicionales */
}

.wave-container svg {
    display: block;
    width: 100%;
    height: auto;
}

.mission-section {
    margin-top: -5px; /* Superpone ligeramente la sección para eliminar cualquier espacio visible */
}
/* Seccion Departamento: Granada */
.granada-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.granada-section .left-section {
    flex: 1;
    margin-right: 20px;
}

.granada-section .right-section {
    flex: 1;
}

.granada-section .right-section img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Seccion en index.html */
.about-section {
    background-color: #ffff;
    display: flex;
    justify-content: space-between;
    padding: 100px 0px 50px;
    gap: 20px !important;
}

.about-left {
    width: 55%;
    padding-right: 70px;
    margin-left: 50px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-subtitle, .about-title, .about-description {
    width: 100%;
    text-align: left;
}

.about-subtitle {
    font-family: "Source Sans Pro", sans-serif;
    color: rgb(65, 105, 94);
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.about-title {
    font-family: 'Poppins, sans-serif';
    font-weight: 700;
    color: #313131;
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.about-description {
    font-family: "Source Sans Pro", sans-serif;
    color: rgb(110, 110, 110);
    line-height: 2.0;
    font-size: 20px;
}

.about-btn {
    display: none;
}

.about-btn:hover {
    background-color: #41695d;
    color: #fff;
}

.about-right {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  .carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item {
    flex: 0 0 48%; /* Cada imagen ocupa el 48% del carrusel */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1%; 
  }
  
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .carousel-item img:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); /* Agrega sombra */
  }
  
  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    font-size: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  .carousel-control:hover {
    background-color: rgba(0, 0, 0, 0.7);
    transform: scale(1.1);
  }
  
  .carousel-control.prev {
    left: 10px;
  }
  
  .carousel-control.next {
    right: 10px;
  }
  
/* Seccion: About Baku (index.html */
@media screen and (min-width: 820px) and (max-width: 1366px) {

    .about-section {
        flex-direction: column;
        padding: 20px;
    }

    .about-right, .about-left {
        width: 100%;
        margin-left: 0px;
        padding-right: 0;
    }
    .about-left {
        padding-left: 50px;
        padding-right: 50px; 
        width: 80%; 
        margin: 0 auto; 
    }

    .about-right {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        gap: 20px; 
    }

    .about-image {
        width: 80%;
        height: auto;
        margin-top: 5%;
        object-fit: cover;
    }

    .about-rectangle {
        position: relative;
        top: 0;
        left: 0;
        width: 80%;
        height: auto;
        margin-top: 20px;
    }

    .about-icon-item {
        display: flex;
        margin-bottom: 20px;
    }

    .about-icon-img {
        margin-right: 15px;
        width: 50px;
        height: 50px;
    }

    .about-icon-title {
        font-size: 22px;
        margin-bottom: 5px;
    }

    .about-icon-description {
        font-size: 16px;
        color: #C6C6C6;
    }
}
/* Estilos responsive para dispositivos móviles */
@media screen and (max-width: 768px) {

    /* About Baku index.html */
    .about-section {
        flex-direction: column;
        padding: 20px;
    }

    .about-right, .about-left {
        width: 100%;
        margin-left: 0;
        padding-right: 0;
    }
    .carousel {
        margin-bottom: 30px;
    }

    .carousel-item {
        flex: 0 0 90%; 
        margin-right: 5%; 
    }

    .carousel-item img {
        border-radius: 10px; 
    }

    .carousel-control {
        font-size: 18px; 
        padding: 8px; 
    }
}
/* Aventuras - seccion: San Juan del sur */
.surf-section {
    background-color: rgb(242, 242, 242);
    display: flex;
    justify-content: space-between;
    padding: 100px;
}
.surf-left {
    width: 35%;
    padding-right: 70px; 
    margin-left: 50px; 
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.subtitulo-surf, .titulo-surf, .descripcion-surf {
    width: 100%; 
    text-align: left; 
}

.subtitulo-surf {
    font-family: "Source Sans Pro", sans-serif;   
    color: rgb(65, 105, 94);
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.titulo-surf {
    font-family: 'Poppins, sans-serif';
    font-weight: 700;
    color: #313131;
    font-size: 34px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.descripcion-surf {
    font-family: "Source Sans Pro", sans-serif;    
    color: rgb(110, 110, 110);
    line-height: 2.0;
}

/* Segunda Cuadrilla (Derecha) */
.surf-right {
    width: 50%;
    position: relative;
    margin: 0;
}

.imagen-surf {
    width: 80%; 
    object-fit: cover;
}
.surf-right-text {
    font-family: 'Poppins, sans-serif';
    font-size: 70px;
    color: rgb(65, 105, 94);
    letter-spacing: 2px;
    margin-top: auto;
    margin-left: -60px;
}

/* Seccion tour*/
.sailing-section {
    background-color: rgb(242, 242, 242);
    display: flex;
    justify-content: space-between;
    padding: 100px;
}
.sailing-left-text {
    width: 30%;
    padding-right: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    font-family: 'Poppins, sans-serif';
    font-size: 60px;
    color: rgb(65, 105, 94);
    letter-spacing: 2px;
    margin-top: 0;
}

.sailing-center {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-right: 50px;
}

.subtitulo-sailing {
    font-family: "Source Sans Pro", sans-serif;
    color: rgb(65, 105, 94);
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.titulo-sailing {
    font-family: 'Poppins, sans-serif';
    font-weight: 700;
    color: #313131;
    font-size: 34px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.descripcion-sailing {
    font-family: "Source Sans Pro", sans-serif;
    color: rgb(110, 110, 110);
    line-height: 2.0;
}

/* Tercera Cuadrilla (Imagen Derecha) */
.sailing-right {
    width: 35%;
    position: relative;
    margin: 0;
}

.imagen-sailing {
    width: 100%; 
    object-fit: cover;
}

/* Sección de Liberación de Tortugas */
.turtle-section {
    background-color: rgb(242, 242, 242);
    display: flex;
    justify-content: space-between;
    padding: 100px;
}

.turtle-left {
    width: 35%;
    position: relative;
    margin-right: 50px;
}

.imagen-turtle {
    width: 100%;
    object-fit: cover;
}

/* Segunda Cuadrilla (Subtítulo, Título, Descripción) */
.turtle-center {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-left: 50px; 
}

.subtitulo-turtle {
    font-family: "Source Sans Pro", sans-serif;
    color: rgb(65, 105, 94);
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-align: center;
}

.titulo-turtle {
    font-family: 'Poppins, sans-serif';
    font-weight: 700;
    color: #313131;
    font-size: 34px;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.descripcion-turtle {
    font-family: "Source Sans Pro", sans-serif;
    color: rgb(110, 110, 110);
    line-height: 2.0;
}

/* Tercera Cuadrilla (Texto Derecho) */
.turtle-right-text {
    font-family: 'Poppins, sans-serif';
    font-size: 70px;
    color: rgb(65, 105, 94);
    letter-spacing: 2px;
    width: 30%;
    text-align: right;
    margin-left: 50px;
    display: flex;
    align-items: flex-start; 
}

@media screen and (max-width: 768px) {
    .sailing-section {
        flex-direction: column;
        padding: 20px;
    }

    .sailing-left-text, .sailing-center, .sailing-right {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-right: 0;
    }

    .sailing-left-text {
        display: none;
    
    }

    .titulo-sailing {
        font-size: 28px; 
    }

    .imagen-sailing {
        width: 100%;
        height: auto; 
        margin-top: 20px;
    }

    .sailing-center {
        margin-bottom: 20px;
    }

    /* Turtle section (movil) */
    .turtle-section {
        flex-direction: column !important; 
        justify-content: flex-start !important; 
        padding: 20px !important; 
    }

    .turtle-left, .turtle-center, .turtle-right-text {
        width: 100% !important; 
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-right: 0 !important;
    }

    .imagen-turtle {
        width: 100% !important; 
        height: auto !important; 
        margin-bottom: 20px !important;
    }

    .turtle-center {
        margin-bottom: 20px !important; 
    }

    .turtle-right-text {
        display: none !important; 
    }

    .titulo-turtle {
        font-size: 28px !important; 
    }

    .subtitulo-turtle {
        font-size: 18px !important; 
    }
    .turtle-left {
        order: 1 !important; 
    }
   /* Seccion: Actividades/Surf  */
   .surf-section {
    flex-direction: column !important; 
    padding: 20px !important;
}

    .surf-left, .surf-right {
        width: 100% !important; 
        margin-left: 0 !important;
        padding-right: 0 !important;
    }

    .surf-left {
        margin-top: 20px !important; 
        margin-bottom: 20px !important;
        padding-right: 0 !important; 
        text-align: left !important; 
    }

    .imagen-surf {
        width: 100% !important; 
        height: auto !important; 
        object-fit: cover !important;
        margin-bottom: 20px !important; 
    }

    .subtitulo-surf, .descripcion-surf {
        font-size: 90% !important; 
    }

    .titulo-surf {
        font-size: 28px !important; 
    }

    .surf-right-text {
        display: none !important; 
    }
    /* Section: Principal */
    .section-principal {
        flex-direction: column; 
        padding: 20px; 
    }

    .right-section, .left-section {
        width: 100%; 
        margin-left: 0;
        padding-right: 0;
    }

    .imagen-san-juan {
        width: 100%;
        height: auto; 
        object-fit: cover;
    }

    .rectangulo {
        position: relative; 
        top: 0;
        left: 0;
        width: 100%; 
        height: auto; 
        margin-top: 20px; 
    }

    .left-section {
        margin-top: 20px; 
        margin-bottom: 20px;
    }

    .subtitulo, .descripcion {
        font-size: 90%; 
    }

    .icono-descripcion {
        font-size: 14px; 
        margin-right: 10px;
        margin-bottom: 20px;
    }
    .icono-titulo {
        font-size: 22px; 
        margin-top: 10px
    }
    .icono-img {
        margin-top: 10px

    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .sailing-section {
        flex-direction: column;
        padding: 50px;
    }

    .sailing-left-text, .sailing-center, .sailing-right {
        width: 100%;
    }

    .sailing-left-text {
        display: none; 
    }

    .titulo-sailing {
        font-size: 32px; 
    }

    .imagen-sailing {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .sailing-center {
        margin-bottom: 30px;
    }
    .turtle-section {
        flex-direction: column; 
        padding: 30px;
    }

    .turtle-left {
        order: -1; 
        width: 100%; 
        margin-right: 0;
        margin-bottom: 20px; 
    }

    .imagen-turtle {
        width: 100%;
        height: auto;
    }

    .turtle-center {
        width: 100%;
        margin-left: 0;
        text-align: center; 
    }

    .titulo-turtle {
        font-size: 28px; 
    }

    .descripcion-turtle {
        line-height: 1.6;
    }

    .turtle-right-text {
        display: none; 
    }
    /* Sección: Actividades/Surf  */
    .surf-section {
        flex-direction: row !important; 
        padding: 40px !important; 
        justify-content: space-between !important; 
    }
 
    .surf-left, .surf-right {
        width: 48% !important; 
        margin-left: 0 !important;
        padding-right: 0 !important; 
    }
 
    .surf-left {
        margin-top: 20px !important; 
        margin-bottom: 20px !important;
        text-align: left !important;
    }
 
    .imagen-surf {
        width: 100% !important; 
        height: auto !important; 
        object-fit: cover !important;
        margin-bottom: 20px !important; 
    }
 
    .subtitulo-surf, .descripcion-surf {
        font-size: 95% !important; /* Aumenta ligeramente el tamaño del texto */
    }
 
    .titulo-surf {
        font-size: 32px !important; /* Ajusta el tamaño del título */
    }
 
    .surf-right-text {
        display: none !important; /* Oculta el texto decorativo en iPad Pro */
    }
   /* Sección: Main/Principal en index.html*/
   .about-section {
    flex-direction: row !important; 
    padding: 40px 20px !important; 
    gap: 10px !important; 
    background-color: #ffff;
}

    .about-left {
        width: 50% !important; 
        margin-left: 0 !important;
        padding-right: 10px !important; 
        text-align: justify !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
    }

    .about-subtitle {
        font-size: 18px !important; 
        margin-bottom: 5px !important; 
        letter-spacing: 1.5px !important;
    }

    .about-title {
        font-size: 22px !important;
        margin-bottom: 15px !important;
        letter-spacing: 1.5px !important;
    }

    .about-description {
        font-size: 18px !important; 
        line-height: 1.8 !important; 
    }

    .about-right {
        width: 50% !important; 
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .carousel {
        margin: 0 10px !important; 
        padding: 10px 0 !important; 
    }

    .carousel-item {
        flex: 0 0 48% !important;
        margin-right: 2% !important; 
    }

    .carousel-item img {
        border-radius: 10px !important;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out !important;
    }

    .carousel-control {
        font-size: 20px !important; 
        padding: 10px !important; 
    }

    .carousel-control.prev {
        left: 10px !important; 
    }

    .carousel-control.next {
        right: 10px !important; 
    }   
}

@media screen and (min-width: 1367px) {
    .sailing-section {
        flex-direction: row;
        padding: 100px;
    }

    .sailing-left-text, .sailing-center, .sailing-right {
        width: 30%;
    }

    .sailing-left-text {
        display: block; 
    }

    .titulo-sailing {
        font-size: 40px;
    }

    .imagen-sailing {
        width: 100%;
        height: auto;
    }

    .sailing-center {
        margin-bottom: 50px;
    }
    .turtle-section {
        flex-direction: row; 
        justify-content: space-between;
        padding: 60px;
    }

    .turtle-left {
        order: -1; 
        width: 45%;
        margin-right: 40px;
    }

    .imagen-turtle {
        width: 100%; 
        height: auto;
    }

    .turtle-center {
        width: 45%; 
        margin-left: 40px;
    }

    .titulo-turtle {
        font-size: 34px; 
    }

    .descripcion-turtle {
        line-height: 1.8;
    }

    .turtle-right-text {
        display: none; 
    }
 
}

@media screen and (min-width: 1025px) and (max-width: 1366px) {
    .sailing-section {
        flex-direction: row; 
        padding: 50px;
        justify-content: space-between; 
    }

    .sailing-left-text {
        display: none;
    }

    .sailing-center {
        width: 50%; 
        display: flex;
        flex-direction: column;
        justify-content: center; 
        text-align: left;
        margin-left: 80px
    }

    .sailing-right {
        order: -1;
        width: 50%; 
    }

    .imagen-sailing {
        width: 100%; 
        height: auto;
    }

    .titulo-sailing {
        font-size: 32px; 
    }

    .descripcion-sailing {
        line-height: 1.6; 
    }
/*Seccion: Liberando tortugas */
    .turtle-section {
        flex-direction: row; 
        justify-content: space-between;
        padding: 50px;
    }

    .turtle-left {
        order: -1; 
        width: 50%; 
        margin-right: 30px; 
    }

    .imagen-turtle {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .turtle-center {
        width: 50%; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        margin-left: 30px;
    }

    .titulo-turtle {
        font-size: 32px; 
    }

    .descripcion-turtle {
        line-height: 1.6; 
    }
    .turtle-right-text {
        display: none; 
    }

/*Seccion principal */
    .about-section {
        flex-direction: row !important;
        padding: 40px -50px 20px !important; /* Padding reducido en la parte inferior */
        gap: 20px !important;
        background-color: #ffff !important;
    }

    .about-left {
        width: 50% !important;
        margin-left: 0 !important;
        padding-right: 20px !important;
        text-align: justify !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
    }

    .about-subtitle {
        font-size: 20px !important;
        margin-bottom: 10px !important;
        letter-spacing: 2px !important;
    }

    .about-title {
        font-size: 26px !important;
        margin-bottom: 20px !important;
        letter-spacing: 2px !important;
    }

    .about-description {
        font-size: 18px !important;
        line-height: 2 !important;
    }

    .about-right {
        width: 50% !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .carousel {
        margin: 0 20px 10px !important; /* Margen inferior reducido */
        padding: 20px 0 !important;
    }

    .carousel-item {
        flex: 0 0 45% !important;
        margin-right: 5% !important;
    }

    .carousel-item img {
        border-radius: 12px !important;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out !important;
    }

    .carousel-control {
        font-size: 24px !important;
        padding: 12px !important;
    }

    .carousel-control.prev {
        left: 15px !important;
    }

    .carousel-control.next {
        right: 15px !important;
    }
}

