body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 18px;
    color: #555;
    margin: 10px 0;
    text-align: left;
}

form {
    margin-top: 30px;
    text-align: center;
}

label {
    font-size: 18px;
    color: #333;
    display: block;
    margin-bottom: 10px;
}

.calificacion-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="radio"] {
    display: none;
}

label[for="calificacion"] {
    font-size: 20px;
    color: #333;
}

.calificacion-label {
    background-color: #8cb4a8;
    color: white;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.calificacion-label:hover,
input[type="radio"]:checked + .calificacion-label {
    background-color: #548578;
}

button {
    padding: 14px 18px;
    background-color: #548578;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    letter-spacing: 1px;
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
    background-color: #ff6f61;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

}

/* Adaptación para dispositivos móviles */
@media (max-width: 600px) {
    .container {
        margin: 20px;
        padding: 15px;
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }

    label {
        font-size: 16px;
    }

    .calificacion-label {
        padding: 8px 12px;
        font-size: 16px;
    }

    button {
        padding: 10px 20px;
        font-size: 16px;
    }
}