
.wave-container {
  position: relative;
  width: 100%;
  line-height: 10px;
}
.wave-container svg {
  display: block;
  width: 100%;
  height: auto;
  padding: 0;
  line-height: 0;
  margin-top: -80px !important;
}

.section-route {
  display: flex;
  margin: 0;
  background-color: #F9F9F9;
  padding: 50px -20px;
  justify-content: center;
  align-items: flex-start;
  gap: 40px; 
  transform: scale(1.08); 
  margin-left: 2%;
  margin-right: 2%;
  box-sizing: border-box;  
}

.route-container {
  display: flex;
  max-width: 1200px;
  width: 100%;
  align-items: flex-start;
}

.route-text {
  flex: 0.45;
  padding: 20px;
  text-align: left;
  margin-right: 40px;
}

/* Contenedor de contribuciones */
.contribution-container {
  flex: 0.55;
  display: grid; 
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px; 
  align-items: start;
  justify-content: center;
  margin-top: 40px;
  margin-left: 30px;
}
.preheader {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #c96b4f;
  margin-bottom: 10px;
  letter-spacing: 0.9px;
}

.route-title {
  font-size: 1.9rem;
  margin-top: 10px;
  margin-bottom: 10px;
  letter-spacing: 0.2px;
  line-height: 1.2;
  margin-bottom: 15px;
}

.route-description {
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 10px;
  color: #393939;
  letter-spacing: 1.2px;
  line-height: 1.5;
}

.route-button {
  display: inline-block;
    border-style: solid;
    border-width: 2px;
    background-color: #c96b4f;
    color: #fff;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 400;
    line-height: 1em;
    text-transform: none;
    letter-spacing: 1px;
    font-size: 16px;
    border-radius: 6px;
    padding: 20px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Tarjetas de contribución */
.contribution-card {
  background-color: #ffffff; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
  text-align: center;
  padding: 15px;
  transition: transform 0.3s ease;
  
}

.contribution-card:hover {
  transform: scale(1.05); 
  background-color: #c96b4f;
  color:white;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.contribution-card:hover .contribution-title,
.contribution-card:hover .contribution-description {
  color: white; 
}

/* Títulos y descripciones */
.contribution-title {
  font-size: 18px;
  font-weight: bold;
  color: #393939; 
  margin-bottom: 10px;
}

.contribution-description {
  font-size: 14px;
  line-height: 1.4;
  color: #666;
} 

/* Responsive para dispositivos móviles */
@media (max-width: 768px) {

  .section-route {
    flex-direction: column; 
    gap: 20px; 
    padding-left: 10% !important;
    padding-right: 10% !important;
  }

  .route-container {
    flex-direction: column; 
    gap: 20px;
  }

  .route-text {
    flex: none;
    width: 100%; 
    margin: 0; 
    padding: 10px 0; 
    text-align: left;
  }

  .contribution-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2vh; 
    width: 90%;
    margin: 0;
    justify-items: start;
  }
  .contribution-card {
    padding: 1.5vh;       
    min-height: 10vh;   
    width: 100%;
    margin: 0;
  }

  .contribution-title {
    font-size: 16px; /* Tamaño reducido para pantallas pequeñas */
    font-weight: bold;
  }

  .contribution-description {
    font-size: 12px; /* Tamaño reducido para pantallas pequeñas */
    line-height: 1.3; /* Menor espacio entre líneas */
  }
  .preheader {
    font-size: 12px; 
    letter-spacing: 0.8px;
    margin-bottom: 8px;
  }

  .route-title {
    font-size: 1.3rem; 
    line-height: 1.3;
    margin-bottom: 10px;
  }

  .route-description {
    font-size: 14px; 
    line-height: 1.4; 
    letter-spacing: 0.9px; 
    color: #393939;
  }
  .route-button {
    padding: 15px 15px; 
    font-size: 14px;
  }
  .wave-container svg {
    display: block;
    width: 100%;
    height: auto;
    margin-top: -60px; /* Reduce el espacio en el top de la ola */
    padding: 0;
    line-height: 0;
  }
}


/* Espaciado específico para iPad Pro (5%) */
@media (min-width: 1024px) and (max-width: 1366px) {
  .section-route {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%; /* Ajusta el ancho para compensar el margen */
  }
  .contribution-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vh;
    width: 90%;
    margin: 0 auto;
  }
  .contribution-card {
    height: 160px; 
    width: 100%;
    box-sizing: border-box;
    margin: 0;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .section-route {
      margin-left: 4%; /* Margen izquierdo ajustado */
      margin-right: 4%; /* Margen derecho ajustado */
      width: 92%; /* Ancho ajustado */
  }

  .route-container {
      flex-direction: column; /* Cambia el diseño a columnas */
      align-items: center; /* Alinea el contenido al centro */
      gap: 30px; /* Espacio entre el texto y las contribuciones */
  }

  .route-text {
      text-align: center; /* Centra el texto */
  }
  .contribution-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1vh;
    width: 90%;
    margin: 0 auto;
  }
  .contribution-card {
    padding: 1vh;
    min-height: 10vh;
    width: 90%;
    margin: 0;
  }

}