.h2-titulo {
    text-align: center; 
    margin-top: 40px; 
    margin-bottom: 20px; 
    font-family: 'Roboto', sans-serif; 
    font-weight: 400; 
    font-size: 28px; 
    color: #333; 
}

/* Estilos generales para el formulario y sus elementos */
.form-horarios,
.form-horarios label,
.form-horarios input[type="text"],
.form-horarios input[type="time"],
.form-horarios button {
    font-family: 'Roboto', sans-serif; /* Aplica la familia de fuentes Roboto a todo el formulario */
    font-weight: 300; /* Aplica el peso ligero de la fuente a todo el formulario */
}

.form-horarios {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.form-horarios label {
    display: block;
    margin-top: 20px;
    font-weight: bold; /* Aunque el formulario es ligero, los labels pueden ser en negrita */
    color: #333;
}

.form-horarios input[type="text"],
.form-horarios input[type="time"] {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-horarios button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif; /* Usa Roboto para un estilo coherente */
    font-weight: 400; /* Estilo de fuente más ligero para una apariencia más limpia */
    font-size: 18px; /
}
