/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  .wave-container {
    margin: 0;
    padding: 0;
    margin-top: -130px; 
  }
  .wave-container svg {
    display: block;
  }
  .hotels-container {
    background-color: #F9F9F9; 
  }
  
  .image-text-section {
    display: flex; 
    justify-content: center;
    align-items: center; /* Centra el contenido verticalmente */
    padding: 0 10%; 
    text-align: left; 
    padding-top: 30px;  
    height: auto;
    background-color: #F9F9F9;
    font-family: "Source Sans Pro", sans-serif;
  }
  /* Espacio entre hoteles para los siguientes bloques */
  .image-text-section:not(:first-of-type) {
    margin-top: 5rem; /* Ajusta según el espacio deseado */
  }
  .hotels-container div.image-text-section.third-hotel {
    background-color: #fff !important;
  }
  
  
  /* Imagen ocupa el 30% */
  .image-container {
    flex: 0 0 40%; /* Imagen ocupa el 30% del ancho */
    display: flex;
    margin-right: 3%;
    justify-content: center; /* Centra la imagen dentro de su contenedor */
  }
  
  .image {
    width: 100%;
    height: auto;
    max-width: 500px;
    object-fit: cover; /* Ajusta la imagen sin distorsionarla */
  }
  /* Carrusel */
.carousel-container {
  position: relative;
  width: 100%; /* Ocupa todo el ancho disponible del contenedor */
  max-width: 500px; /* Tamaño máximo como la imagen original */
  overflow: hidden; /* Oculta imágenes fuera del marco */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
}
  /* Texto ocupa el 70% */
  .text-container {
    flex: 0 0 45%; /* El texto ocupa el 60% */
    padding-left: 20px;
  }
  
  /* Estilos para el título y la descripción */
  .hotel-title {
    font-size: 40px;
    margin: 10px 0;
    font-weight: bold;
    color: #2d2d2d;
  }
  
  .description {
    font-size: 16px;
    line-height: 2.0;
    color: rgb(110, 110, 110)
  }
  
  /* Estilos para las secciones de temporada */
  .season-title {
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .season-info {
    font-size: 16px;
    color: #333;
  }
  
  /* Estilo del botón */
  .more-info-btn {
    display: inline-block;
    margin-top: 20px;
    border-style: solid;
    font-weight: 400;
    font-size: 18px;
    line-height: 1em;
    padding: 20px 20px;
    border-radius: 6px;
    background-color: #c96b4f;
    color: white;
    font-family: 'Montserrat', Arial, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .more-info-btn:hover {
    background-color: #0056b3;
  }
  
  /* Categorias intro - botones (Hoteles) */ 
  .subtitle-intro {
    text-align: center;
    font-size: 1.2rem;
    color: #c96b4f;
    margin-bottom: 5px;     
    padding-bottom: 10px;   
    padding-top: 20px; 
    font-weight: 400;
  }
  
  .main-title-intro {
    font-size: 3.5rem;
    padding-bottom: 22px;
    margin-bottom: 10px;
    font-weight: 700;
    margin-top: 5px;
    text-align: uppercase;
    display: block;
    width: 100%;
    font-family:'Montserrat', Arial, sans-serif;
    text-align: center;
    color:#333;
  }
  
  .category-menu-intro {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px; 
    padding: 10px;
  }
  .category-intro {
    display: inline-block;
    margin-bottom: 10px;
    background-color: #548578;
    line-height: 1;
    font-weight: 700;
    font-size: 18px;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 40px;
    color: #fff;
    padding: 12px 30px;
    border: none;
    cursor: pointer;
  }
  .category-intro:hover {
      background-color: #41695d;
      transform: scale(1.1); /* Incrementa el tamaño ligeramente */
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Agrega sombra al hacer hover */
  }
  
  .category-intro:active {
      transform: scale(1); /* Vuelve al tamaño original al hacer clic */
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Reduce la sombra */
  }
  .intro-destinations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative; 
    text-align: center;
    color: white;
    margin: 0; 
    padding: 0; 
    padding-top: 60px !important;
  }
  
  .special-hotels {
    background-color: #ffff !important;
    padding: 2rem 0;
  }
  .image-text-section.third-hotel {
    background-color: #ffff; 
  }
  
/* Imágenes del carrusel */
.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-image {
  flex-shrink: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px; 
  filter: brightness(1.0) saturate(1.0); 
  transition: transform 0.5s ease, filter 0.5s ease, box-shadow 0.5s ease; 
}
.carousel-image:hover {
  transform: scale(1.05); 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
}

/* Botones de navegación  - carrusel */
.carousel-control {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
}


.carousel-control.prev {
  left: 10px;
}

.carousel-control.next {
  right: 10px;
}

.carousel-control:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .image-text-section {
      flex-direction: column; /* Cambia a diseño vertical */
      padding: 10px; 
  }
  .image-container {
      flex: 0 0 auto; 
      margin-right: 0;
      margin-bottom: 20px; 
  }
  .text-container {
      flex: 0 0 auto; 
      margin-left: 0 !important;
      margin-right: 10px !important;
      text-align: left; /* Texto centrado en pantallas pequeñas */
  }
  .hotel-title {
      font-size: 30px; /* Ajusta el tamaño del título */
  }
  .description {
    line-height: 1.7;
      font-size: 14px; /* Ajusta el tamaño de la descripción */
  }
  .wave-container {
    margin: 0;
    padding: 0;
    margin-top: 20px !important; /* Aumenta este valor para mover la wave más abajo */
  }
  .season-info{
    color: rgb(110, 110, 110);
  }
  .image-text-section.third-hotel{
    margin-top: 5px !important;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .image-text-section {
    flex-direction: column; /* Asegura que la imagen y el texto estén en fila */
  }

  .image-container {
    flex: 0 0 60%; /* La imagen ocupa el 60% del ancho */
    margin-bottom: 30px; /* Espaciado entre la imagen y el texto */
  }

  .image {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    max-width: none; /* Elimina cualquier límite en el ancho */
  }

  .text-container {
    flex: 0 0 40%; /* El texto ocupa el 40% restante */
  }
}
@media (min-width: 1024px) and (max-width: 1366px) {
  .image-text-section {
    margin-left: 15px;
    margin-right: 40px;
    flex-direction: row; /* Cambia a fila para iPad Pro */
  }

  .image-container {
    flex: 0 0 60%; /* La imagen ocupa el 70% del ancho */
    margin-right: 5px; /* Espaciado entre la imagen y el texto */
  }

  .image {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    max-width: none; /* Elimina cualquier límite en el ancho */
    height: auto; /* Mantiene la proporción de la imagen */
  }

  .text-container {
    flex: 0 0 65%; /* El texto ocupa el 30% restante */
  }
  .description {
    line-height: 1.6;
    font-size: 16px; /* Ajusta el tamaño de la descripción */
  }
}
