body {
    margin: 0;
    padding: 0;
}
   
/* HEADER */
header {
    width: 100%;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 100;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.menu a,
    .logo {
    color: white;
    transition: color 0.3s ease;
}

body.scrolled header {
    background-color: white; 
 }

body.scrolled .menu a,
body.scrolled .logo {
    color: black; 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: transparent;
    font-family: 'Poppins';
}

.logo {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 20px;
}
    
.menu a {
    color: white;
    text-decoration: none !important;
    font-size: 18px;
    font-family: 'Poppins';
}

.menu a:hover {
    text-decoration: underline;
}

.menu-toggle {
    display: none; 
    background: none;
    border: none;
    color: white;  
    font-size: 30px;
    cursor: pointer;
}
    
.campo-busqueda {
    position: relative;
}
 
.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('imagenes/vistaOmepete1.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    color: white;
}

.homepage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2); 
    pointer-events: none; 
    z-index: 1;
}   

.wave-container1 {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;    
    margin-bottom: -0.99%;
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.formulario-busqueda-horizontal {
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px;
    padding: 20px 20px;
    box-shadow: 0 4px 10px rgba(252, 249, 249, 0.1);
    display: flex;
    gap: 10px; 
    align-items: center;
    width: auto; 
    z-index: 2;
    position: relative;
}

.formulario-busqueda-horizontal input {
    padding: 15px 20px;
    font-size: 16px !important;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.formulario-busqueda-horizontal input:focus {
    border-color: #c96b4f;
}

.boton-busqueda {
    padding: 12px 40px;
    font-size: 16px;
    background-color: #c96b4f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s ease;
    font-family: 'Poppins', sans-serif;
}

.boton-busqueda:hover {
    background-color: #c96b4f;
}

.main-title1 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    z-index: 2;
    position: relative;
    font-family: 'Poppins', sans-serif; 
}

.subtitleIndex {
    font-size: 19.7px;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    z-index: 2;
    position: relative;
}
    
/* Menu desplegable en formulario - index.html */
.dropdown-options {
    position: absolute;
    top: calc(100% + 5px); 
    left: 0;
    right: 0;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 150px;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none; 
    padding: 0;
    margin: 0;
    list-style: none;
}

.dropdown-options .dropdown-item {
    padding: 10px 15px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #313131;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.dropdown-options .active-item {
    background-color: #dfe6e9; 
    color: #2d3436; 
}


.dropdown-options .dropdown-item:hover {
    background-color: #f0f0f0;
}

.campo-busqueda {
    position: relative;
}

/* Seccion #3 - Contribucion - index.html */
.contribucion-section {
    text-align: center;
    padding: 40px;
    background-color: #41695d;
    color: #ffffff;
}

.contribucion-section h3 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
    font-size: 25px;
}

.contribucion-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.contribucion-button {
    display: block;
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.blue {
    background-color: #8cb4a8;
}

.blue:hover {
    background-color: #ff6f61; 
}

.orange {
    background-color: #548578;
}

.orange:hover {
    background-color: #ff6f61; 
}

/* acerca de baku */
#about-baku {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #add8e6 !important;
}

.wave {
    display: block; 
    margin: 0;
    padding: 0;
    line-height: 0; 
}

.content-wrapper {
    display: flex;
    width: 100%;
    max-width: 1200px;
}

.text-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    padding: 20px;
    z-index: 2; 
}
.description-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 700; 
    font-size: 18px;
    margin-bottom: 30px; 
}

.about-subtitle {
    color: #c96b4f !important;
    font-weight: 600 !important;
    font-family: 'Poppins' !important;
    font-size: 18px !important;
}
.about-btn1 {
    display: inline-block; 
    padding: 10px 40px; 
    font-size: 18px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #c96b4f;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
    max-width: fit-content;
    width: auto;
}
                    
.button-link  {
    display: inline-block;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: #FF8D21;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-link:hover {
    background-color: #2979FF;
    color: #F2F5FF; 
}

.image-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2; 
}

.image-content img {
    max-width: 100%;
    height: auto;
    background-color: #F5F5F5;
}

/* Galeria */
.main-title {
    font-size: 1.9rem;
    padding-bottom: 22px;
    margin-bottom: 10px;
    font-weight: 700;
    margin-top: 5px;
    text-align: uppercase;
    display: block;
    width: 100%;
    font-family:'Montserrat', Arial, sans-serif;
    text-align: center;
    color:#333;
}
.dropdown-item.active-item {
    background-color: #41695D;
    color: white;
    font-weight: bold;
}
.dropdown-options {
    scroll-behavior: auto;
    overflow-y: auto;
}

/* Subtitle */
.subtitle {
    text-align: center;
    font-size: 1.2rem;
    color: #c96b4f;
    margin-bottom: 5px;     
    padding-bottom: 10px;   
    padding-top: 20px; 
    font-weight: 400;
}
/* Botón centrado */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
    
/* View All Button */
.view-button {
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    background-color: #c96b4f;
    color: #fff;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 700;
    line-height: 1em;
    text-transform: none;
    letter-spacing: 1px;
    font-size: 16px;
    border-radius: 6px;
    padding: 15px 22px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}
    
.view-button:hover {
    background-color: #c08e73;;
    color: white;
}

    /* Sobre Baku nuevo estilo */
    .sobrebaku-btn {
    display: inline-block;
    padding: 20px 24px;
    margin-top: 50px;
    margin-bottom: 40px;
    background-color: #41695D;
    color: #fff;
    text-decoration: none;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    transition: background-color 0.3s ease-in-out;
    text-align: left; /* Alinear el botón a la izquierda */
    }

    .sobrebaku-btn:hover {
    background-color: #EFD284;
    color: #41695D;
    }

    /* Footer section */
    #footer {
        background-color: #F2F5FF
        ;
        color: black;
        padding: 20px;
        text-align: center;
    }

    #footer .footer-logo-img {
        width: 80px; 
        height: auto; 
        margin-bottom: 0px;
    }
    #footer .footer-section.navigation-links {
        text-align: left; 
        align-items: flex-start;
    }

    #footer .footer-section.navigation-links ul {
        padding-left: 20px; 
    }

    #footer .footer-section.navigation-links li {
        display: list-item; 
        list-style-type: disc; 
        list-style-position: inside; 
        text-align: left; 
        margin-bottom: 10px;
    }

    #footer .footer-section.navigation-links li a {
        font-size: 18px; 
    }
    #footer .footer-section p {
        font-size: 18px; 
    }

    #footer .social-media img {
        width: 24px; 
        height: 24px; 
        margin: 0 5px; 
    }

    .footer-container {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        flex-wrap: wrap; 
    }

    .footer-section {
        flex: 1; 
        padding: 10px; 
        min-width: 200px; 
    }

    .footer-links ul {
        list-style: none;
        padding: 0;
    }

    .footer-links li a, .footer-section p, .footer-section a {
        color: black; 
        text-decoration: none;
    }

    .social-media a {
        display: inline-block; 
    }

    /* Nueva prueba de galery*/
    .featured-cottages-section {
    text-align: center; 
    padding: 40px 20px; 
    background-color: #f7f7f7; /* Fondo claro opcional */
    }

    /* Estilo del subtítulo */
    .featured-subtitulo {
    color: #41695D;
    font-family: "Source Sans Pro", sans-serif;   
    font-size: 18px;
    letter-spacing: 2px;
    word-spacing: normal;
    }

    /* Estilo del título */
    .featured-text {
    max-width: 800px; /* Ajusta este valor para hacer el contenedor más ancho */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    text-align: center;
    }

    .featured-titulo {
    color: #313131;
    font-family: 'Poppins, sans-serif';
    font-size: 48px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 2px;
    word-spacing: normal;
    margin-bottom: 20px;
    }

    /* Estilo de la descripción */
    .featured-descripcion {
    color: #777;
    font-family: var(--e-global-typography-dc7f13c-font-family), Sans-serif;
    font-size: 18px;
    line-height: 2.0;
    margin-bottom: 30px;
    text-align: justify;
    max-width: 900px; 
    letter-spacing: 1px;
    }

    /* Contenedor de imágenes */
    .featured-imagenes {
    display: flex;
    justify-content: center; /* Centrar las imágenes horizontalmente */
    gap: 20px; /* Espacio entre las imágenes */
    }

    /* Estilo de las imágenes */
    .cottage-img {
    width: 400px; /* Controlar el ancho de la imagen */
    height: 600px; /* Modifica la altura aquí */
    object-fit: cover;
    }
    .overlay h3 {
    font-size: 28px; 
    margin-bottom: 10px; 
    font-family: 'Poppins, sans-serif';
    letter-spacing: 1.5px;
    }

    .cottage-container {
    position: relative;
    }

    .cottage-img {
    width: 400px; 
    height: 600px;
    display: block;
    transition: opacity 0.3s ease-in-out;
    }

    .cottage-container .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(80, 118, 106, 0.2) 0%, rgba(80, 118, 106, 0.7) 100%);
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: flex-end; 
        align-items: center;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        border-radius: 10px;
        padding-bottom: 20px; 
    }

    .cottage-container:hover .overlay {
        opacity: 1; 
    }

    .overlay h3, .overlay a {
        opacity: 0;
        transform: translateY(20px); 
        transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out; 
    }

    .cottage-container:hover .overlay h3, 
    .cottage-container:hover .overlay a {
        opacity: 1; 
        transform: translateY(0); 
    }

    .leer-mas-btn {
        display: inline-block;
        padding: 14px 24px; 
        background-color: #fff;
        color: #41695D;
        text-decoration: none;
        font-family: 'Source Sans Pro', sans-serif; 
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: background-color 0.3s ease-in-out;
        border: none; 
        border-radius: 0; 
        cursor: pointer;
        text-align: center;
        white-space: nowrap; 
        min-width: 180px; 
    }


    .leer-mas-btn:hover {
        background-color: #ccc;
        color: #41695D;
    }

    .main-btn {
        display: inline-block;
        padding: 20px 24px;
        margin-top: 50px;
        margin-bottom: 40px;
        background-color: #41695D;
        color: #fff;
        text-decoration: none;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 1px;
        transition: background-color 0.3s ease-in-out;
    }

    .main-btn:hover {
        background-color: #EFD284;
        color: #41695D;
    }

@media (max-width: 768px) {
/* Homepage - index.html*/
    body.scrolled .menu a,
    body.scrolled .logo {
    color: black; 
    }
    .header {
        flex-direction: row; 
        justify-content: space-between;
        align-items: center;
    }
    .menu {
        display: none; 
        flex-direction: column;
        background-color: white;
        position: absolute;
        top: 60px; /* Justo debajo del navbar */
        right: 0;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 200;
    }

    .menu.open {
        display: flex; 
    }

    .menu a {
        color: black; 
        padding: 10px 0; 
        text-align: left;
    }

    .menu-toggle {
        color: white;
        display: block; 
    }
    .formulario-busqueda-horizontal {
        flex-direction: column; 
        gap: 10px;
        padding: 20px;
    }

    .formulario-busqueda-horizontal input,
    .boton-busqueda {
        width: 85%; 
        font-size: 16px;
    }

    .boton-busqueda {
        padding: 12px;
    }

    .main-title1 {
        font-size: 1.6rem;
    }

    .subtitleIndex {
        font-size: 16px;
        margin-left: 15px;
        margin-right: 15px !important;
        margin-top: 0;
        margin-bottom: 0;
    }
    .wave-container1 {
        position: absolute;
        bottom: -2px;
    }
/* Galery */
    .gallery-item img {
        height: 200px !important; 
        object-fit: cover;
        object-position: top;
    }
    /* Featured Cottages Section */
    .featured-cottages-section {
        display: flex !important;
        flex-direction: column !important; /* Cambia la dirección del contenido a vertical */
        align-items: center !important;
        max-width: 100%;
        padding: 20px 10px !important; /* Ajusta el padding para pantallas más pequeñas */
    }
    .featured-titulo {
        max-width: 100% !important;
        font-size: 24px !important; /* Tamaño del título */
    }

    .featured-subtitulo {
        padding-top: 15px !important;
        font-size: 14px !important; /* Tamaño del subtítulo */
    }

    .featured-descripcion {
        font-size: 11.5px;
        margin-bottom: 30px !important;
        padding-left: 15px !important; /* Añade espacio a la izquierda */
        padding-right: 15px !important; /* Añade espacio a la derecha */
        max-width: 100% !important; /* Ajusta el ancho máximo para hacer la descripción más corta */
        text-align: justify !important; /* Justifica el texto */
    }

    .featured-imagenes {
        display: flex !important;
        flex-direction: column !important; /* Cambia la disposición a una columna */
        gap: 15px !important; /* Ajusta el espacio entre las imágenes */
        align-items: center !important; /* Centra las imágenes */
    }

    .cottage-container {
        width: 100% !important; /* Asegura que cada contenedor ocupe todo el ancho */
        max-width: 320px !important; /* Establece un ancho máximo para las imágenes */
    }

    .cottage-img {
        width: 100% !important; /* Las imágenes ocupan todo el ancho disponible */
        height: auto !important; /* Mantén la proporción de la imagen */
    }

    .leer-mas-btn {
        padding: 14px 24px !important;
        font-size: 16px !important;
        min-width: 140px !important;
    }

    .main-btn {
        padding: 15px 20px !important; /* Reduce el tamaño del botón principal */
        font-size: 18px !important; /* Ajusta el tamaño de la fuente del botón principal */
    }
}

    @media (max-width: 400px) {
    .featured-cottages-section {
        padding: 15px 10px;
    }
    .featured-imagenes {
        gap: 15px;
    }
    .cottage-container {
        max-width: 300px;
    }
    .header {
        flex-direction: row; 
        justify-content: space-between;
        align-items: center;
    }
     .menu-navegacion {
        display: flex;
        gap: 10px; 
        padding-right: 10px;
    }
    .logo-container img {
        max-width: 70px;
        height: auto;
    }
    .menu-navegacion a {
        font-size: 16px; 
    }
    
    .menu-navegacion .nav-icon {
        display: none;
    }
    .subtitulo {
        font-size: 16px !important; 
        text-align: center;
        margin-bottom: 15px;
    }
}

    @media (min-width: 768px) and (max-width: 1024px) {
    .featured-cottages-section {
        padding: 20px 10px !important;
        max-width: 100% !important;
    }

    .featured-text {
        max-width: 80% !important; /* Reduce el ancho del texto para pantallas medianas */
    }

    .featured-titulo {
        max-width: 600px !important; /* Aumenta el ancho máximo del título */
        font-size: 28px !important; /* Tamaño del título */
        text-align: center !important; /* Centra el texto */
        margin: 0 auto !important; /* Asegura que el contenedor esté centrado */
        padding-left: 5% !important; /* Añade espacio a la izquierda */
        padding-right: 5% !important; /* Añade espacio a la derecha */
    }

    .featured-subtitulo {
        font-size: 18px !important;
    }

    .featured-descripcion {
        font-size: 20px !important;
        max-width: 90% !important;
        padding-left: 10% !important;
        padding-right: 10% !important;
    }

    .featured-imagenes {
        gap: 20px !important;
    }

    .cottage-container {
        width: 90% !important; 
        max-width: 100% !important;
    }

    .cottage-img {
        width: 100% !important;
        height: auto !important;
    }
    .logo-container img {
        max-width: 90px; 
    }

    .menu-navegacion {
        gap: 25px; 
        padding-right: 15px; 
    }

    .menu-navegacion a {
        font-size: 20px;
    }
/* Homepage - ipads query */
    .homepage-content {
        display: flex;
        flex-direction: row; 
        justify-content: space-between; 
        align-items: center;
        height: auto;
        padding: 150px 20px;     
    }
    .left-image {
        width: 100%;
        max-width: 35%; 
        height: auto;
        margin-right: 5px; /* Espacio entre la imagen y el formulario */
        object-fit: cover;
    }
    .homepage-content div {
        width: 80%; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        padding: 0 20px;
    }

    .titulo-central {
        font-size: 35px; 
        text-align: center;
        margin-bottom: 10px;
    }

    .subtitulo {
        font-size: 18px; /* Ajusta el tamaño del subtítulo */
        margin-bottom: 20px;
        text-align: left; /* Alineación del texto a la izquierda */
    }

    /* Distribución del formulario de manera horizontal */
    .formulario-busqueda-horizontal {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 5px !important; /* Espacio entre los elementos del formulario */
        width: 100%;
    }

    /* Los labels se distribuyen estéticamente */
    .campo-busqueda {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        margin-bottom: 0px; /* Espacio entre campos de formulario */
    }

    .campo-busqueda label {
        font-size: 16px;
        width: 95px;
        margin-top: 15px;
    }

    .campo-busqueda input {
        font-size: 14px;
        width: 145%;
        max-width: 300px;
        box-sizing: border-box;
        margin-left: 10px;
        padding: 20px;
        margin-left: 15px;
    }
    .campo-busqueda:first-child {
        margin-top: 0;
        margin-left: 0 !important; /* Asegúrate de que no haya margen a la izquierda */
        margin-right: 0px !important; /* Controla el espacio a la derecha */
    }
    /* Estilo del botón de búsqueda */
    .campo-busqueda button.boton-busqueda {
        padding: 18px 30px;
        font-size: 16px;
        cursor: pointer;
        margin-right: 10px;
        margin-bottom: -7px;
    }
}

@media (min-width: 1024px) and (max-width: 1368px) {
    .homepage-content {
        display: flex;
        flex-direction: row; 
        justify-content: space-between; 
        align-items: center;
        height: auto;
        padding: 150px 20px;     
    }
    .left-image {
        width: 100%;
        max-width: 35%; 
        height: auto;
        margin-right: 30px; /* Espacio entre la imagen y el formulario */
        object-fit: cover;
    }
    .homepage-content div {
        width: 80%; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        padding: 5px 20px;
    }

    .titulo-central {
        font-size: 35px; 
        text-align: center;
        margin-bottom: 10px;
    }

    .subtitulo {
        font-size: 18px; 
        margin-bottom: 20px;
        text-align: left;
    }
    .formulario-busqueda-horizontal {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 15px; 
        width: 90%;
    }

    /* Los labels se distribuyen estéticamente */
    .campo-busqueda {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px; 
        margin-top: 10px !important;
    }

    .campo-busqueda input {
        font-size: 14px;
        width: 150%;
        max-width: 350px;
        box-sizing: border-box;        
    }
    .campo-busqueda:first-child {
        margin-right: 10px; 
    }
    .campo-busqueda:nth-child(2) {
        margin-right: 10px; 
    }

    /* Estilo del botón de búsqueda */
    .campo-busqueda button.boton-busqueda {
        padding: 18px 35px;
        font-size: 16px;
        margin-left: 5px;
        cursor: pointer;
    }
}

