/* Estilos generales del navbar */
#navbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 33px;
  text-decoration: none;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  padding-bottom: 5px;
  transition: all 0.3s ease;
  margin-left: 20px;
  font-weight: 600;

}

.menu a:hover {
  border-bottom: 2px solid #15616D;
  color: #15616D;
}

/* Botón de menú (visible solo en móvil) */
.menu-toggle {
  display: none;
  color: white;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.menu-toggle:active {
  color: black;
}

/* Menú móvil */
#mobileMenu {
  display: none;
  background-color: #fff;
  position: absolute;
  top: 60px;
  right: 0;
  width: 100%;
  z-index: 100;
  padding: 10px 0;
  min-height: 100px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-10px);
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#mobileMenu a {
  display: block;
  padding: 10px 16px;
  color: #333;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 1px solid #eee;
}

#mobileMenu a:last-child {
  border-bottom: none;
}

#mobileMenu.open {
  display: block;
  opacity: 1;
  transform: translateY(0);
}


/* Overlay para menú móvil */
#menuOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 90;
  background: rgba(0,0,0,0.3);
  backdrop-filter: blur(5px);
  transition: opacity 0.3s ease-in-out;

}
#menuOverlay.open {
  display: block;
  opacity: 1;
}
/* Clases para mostrar menú móvil y overlay */
#mobileMenu.open {
  display: block;
}

#menuOverlay.open {
  display: block;
}

/* Responsive: en pantallas pequeñas se oculta el menú de escritorio y se muestra el toggle */
@media (max-width: 768px) {
  .menu {
    display: none;
  }
  .menu-toggle {
    display: inline-block;
  }
  .logo a,
  .menu a {
    color: white;
  }
  .logo a{
    font-size: 28px;
    margin-left: -10px;
  }
  #navbar {
    background-color: #15616D;
  }
}
