.terminales-section {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
    gap: 30px;
  }
  
  .terminales-form {
    background-color: white;
    padding: 40px 50px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: transform 0.3s ease;
  }
  
  .terminales-form:hover {
    transform: scale(1.02);
  }
  
  .terminales-form label {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #444;
    margin-bottom: 12px;
    display: block;
  }
  
  .terminales-form select,
  #nueva-terminal-container input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;      
    font-weight: normal;   
    color: #444;
    transition: border 0.3s ease, box-shadow 0.3s ease;
  }
  
  .terminales-form select:focus,
  #nueva-terminal-container input:focus {
    border-color: #15616D;
    box-shadow: 0 3px 10px rgba(21, 97, 109, 0.2);
    outline: none;
  }
  
  #nueva-terminal-container {
    display: none;
    animation: fadeIn 0.3s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  button {
    width: 100%;
    background-color: #15616D;
    color: white;
    padding: 16px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease, transform 0.2s;
  }
  
  button:hover {
    background-color: #0d4d5d;
    transform: translateY(-2px);
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .button-container button:first-of-type {
    margin-bottom: 40px;
  }
  @media (max-width: 768px) {
    .terminales-section {
      padding: 20px;
      flex-direction: column;
      align-items: center;
    }
    
    .terminales-form {
      width: 90%;
      max-width: none;
      padding: 20px;
    }
    
    select, button, input {
      width: 100%;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .terminales-section {
      padding: 20px;
      flex-direction: column;
      align-items: center;
    }
    
    .terminales-form {
      width: 90%;
      max-width: 900px;
      margin: 0 auto;
      padding: 20px;
    }
  }
  