body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}
  .select-city-container h2 {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    color: #15616D;
    font-weight: 600;
    margin-bottom: 20px;
  }
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.select-city-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
  }
  .select-city-container:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
  
  .horarios-container h1 {
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    text-align: center;
    color: black;
    margin-bottom: 20px;
  }
  
  .select-city-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }

  .select-city-form label {
    font-size: 18px;
    color: #333;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  .select-city-dropdown {
    width: 80%;
    max-width: 400px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border 0.3s ease, box-shadow 0.3s ease;
  }
  
  .select-city-dropdown:focus {
    border-color: #15616D;
    box-shadow: 0 3px 10px rgba(21, 97, 109, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    outline: none;
  }
  
  .btn-select-city {
    background-color: #15616D;
    color: white;
    padding: 15px 30px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
  }
  
  .btn-select-city:hover {
    background-color: #0d4d5d;
    transform: scale(1.02);
  }
  
  .horarios-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
  }
  
  .horario-item {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.08);
    margin-bottom: 20px;
    text-align: left;
  }
  
  .horario-item p {
    font-size: 16px;
    margin: 8px 0;
    color: #444;
  }
  
  .horario-item p strong {
    color: black;
    font-size: 18px;
  }
  
  .btn-calificar {
    background-color: #15616D;
    color: white;
    padding: 15px 20px;
    border: 8px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
    text-transform: uppercase;
    margin-top: 10px;
  }
  
  .btn-calificar:hover {
    background-color: #0d4d5d;
    transform: translateY(-2px);
  }
  
  @media (max-width: 768px) {
    .select-city-container,
    .horarios-container {
      margin: 20px;
      padding: 20px;
    }
    .select-city-dropdown {
      width: 100%;
    }
  }