/* Estilos generales para la página */
body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

/* Estilos para el contenedor principal */
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    font-size: 24px;
    letter-spacing: 1.0;
    font-family: "Source Sans Pro", sans-serif;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 18px;
    margin-bottom: 10px;
}

select {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

button {
    padding: 10px 10px;
    font-size: 16px;
    color: white;
    background-color: #04AA6D;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #028a52;
}

/* Estilo para horarios */
.horario-item {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    line-height: 1.5;
    font-size: 16px;
    color: #313131;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.horario-item p {
    margin: 5px 0;
}

.select-city-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px; 
}

.horarios-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.horarios-container h1 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
}

.horario-item {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
}

.horario-item p {
    margin: 5px 0;
}

.btn-select-city {
    background-color: #ff6f61;
    color: white;  
    border: none;  
    border-radius: 5px; 
    padding: 14px 25px;  
    font-family: 'Source Sans Pro', sans-serif;
    cursor: pointer; 
    letter-spacing: 1px;
    margin: 10px 0 0 20px;  
    font-size: 18px;
}

.btn-select-city:hover {
    background-color: #8cb4a8;
}

.btn-calificar {
    background-color: #548578;
    color: white;  
    border: none;  
    border-radius: 5px; 
    padding: 14px 25px;  
    font-family: 'Source Sans Pro', sans-serif;
    cursor: pointer; 
    letter-spacing: 1.5px;
    font-size: 16px;
    margin-top: 5px;
}

.btn-calificar:hover {
    background-color: #8cb4a8;
}

/* Adaptación para dispositivos móviles */
@media (max-width: 600px) {
    .container, .select-city-container, .horarios-container {
        padding: 15px;
        margin: 10px;
    }

    h1 {
        font-size: 20px;
    }

    label, select, button, .btn-select-city, .btn-calificar {
        font-size: 14px;
    }

    select {
        width: 100%;
        max-width: 100%;
        padding: 8px;
    }

    button {
        padding: 8px 16px;
    }

    .horario-item {
        padding: 10px;
    }
}